@model MyLunchMoney.Models.ResetPasswordViewModel
@{
	ViewBag.Title = "Reset password";
	Layout = null;
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta charset="UTF-8" />
	<title>Reset Password | Mi Lunch Money</title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
	<link rel="stylesheet" href="~/Scripts/adminlte/components/bootstrap/dist/css/bootstrap.min.css" />
	<link href="~/Content/Admin/css/custom.css" rel="stylesheet" />
	<style>
		span.field-validation-error.text-danger {
			float: left;
			font-size: 12px !important;
			margin: -5px 0px 10px 5px;
			width: 100%;
			text-align: left;
			color: #dc3545 !important;
		}

		li {
			list-style-type: none;
			text-align: left;
			color: red;
		}
	</style>
</head>
<body>
	<div class="login bg">
		<div class="center-form">
			<img src="~/Content/Admin/img/login-logo.png" />
			<h2>Recovery Password</h2>
			@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "login", role = "form" }))
			{
				@Html.AntiForgeryToken()
				if (ViewData.ModelState[""] != null && ViewData.ModelState[""].Errors.Count > 0)
				{
					<div class="alert alert-error bg-danger">
						<button type="button" class="close" data-dismiss="alert">×</button>
						@Html.ValidationSummary(true)
					</div>
				}
				if (TempData["ErrorMessage"] != null)
				{
					<div class="alert alert-danger alert-dismissible">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
						@TempData["ErrorMessage"]
					</div>
				}
				if (Model != null)
				{
					<input type="hidden" id="Code" name="Code" value="@Model.Code" />
				}

				<input type="text" placeholder="Email Address" id="Email" name="Email" />
				@Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
				<div class="pas">
					<input id="password-field" type="Password" name="Password" placeholder="Password" />
				</div>
				@Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
				<div class="pas">
					<input id="password-field" type="password" name="ConfirmPassword" placeholder="Confirm Password" />
				</div>
				@Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
				<input type="submit" value="Submit" />
				<a href="/Admin/Login">Back to Login</a>
			}

		</div>
	</div>

	<!-- jQuery 3 -->
	<script src="~/Scripts/adminlte/components/jquery/dist/jquery.min.js"></script>
	<!-- Bootstrap 3.3.7 -->
	<script src="~/Scripts/adminlte/components/bootstrap/dist/js/bootstrap.min.js"></script>
	<!-- iCheck -->
	<script src="~/Scripts/adminlte/plugins/iCheck/icheck.min.js"></script>
	<script type="text/javascript">

		$(".toggle-password").click(function () {

			$(this).toggleClass("fa-eye fa-eye-slash");
			var input = $($(this).attr("toggle"));
			if (input.attr("type") == "password") {
				input.attr("type", "text");
			} else {
				input.attr("type", "password");
			}
		});

	</script>

</body>

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}
